
.new-info{
  padding-top: 100px;
  width: 100%;
}
.new-info__wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.more-new{
  width: 58%;
  display: flex;
  flex-direction: column;
}
.more-new-img{
  width: 100%;
  height: 454px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.more-new__text h3{
  width:100%;
  font-size: 38px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.more-new__text p{
  font-size: 18px;
  text-align: justify;
  
}
.more-new img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__more-new{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  font-size: 30px;
  color: #fff;
  background: #8CACFF;
  border-radius: 16px;
  cursor: pointer;
}

.random-news{
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.random-news-item-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.random-news-item-wrapper a{
  width:100%;
}
.random-news-item{
  width:100%;
}
.random-item-wrapper{
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
}
.random-item-wrapper-img{
  width: 220px;
  height:180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.random-item-wrapper-img img{
  width: 100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.random-item-data{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
  margin-bottom:12px;
}
.newid{
  flex-direction: column-reverse;
  margin-top: 48px;
  margin-bottom: 25px;
}
.random-item-info{
  width: 100%;
}
.random-item-data p{
  font-size: 18px;
  color: gray;
  line-height: 14px;
  margin-bottom: 0;
}
.random-item-data svg{
  font-size: 18px;
  color: gray;
  line-height: 14px;
  margin-bottom: 0px;
}
.random-item-text{
  display: flex;
}
.random-item-text p{
  font-size: 20px;
  cursor: pointer;
}

@media(max-width:1400px){
  .random-item-data p{
    font-size: 14px;
  }
}
@media(max-width:1215px){
  .random-item-text p{
    font-size: 16px;
  }
  .random-item-wrapper-img{
    width: 200px;
    height:150px;
  }
  .random-item-data p{
    font-size: 11px;
  }
}
@media(max-width:994px){
  .new-info__wrapper{
    flex-direction: column;
  }
  .more-new{
    width: 100%;
  }
  .random-news{
    width: 100%;
    display: flex;
  }
  .random-item-wrapper{
    width: 100%;
  }
  .random-item-text p{
    font-size: 14px;
  }
  .random-news-item-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media(max-width:768px){
  .random-item-wrapper{
    width: 100%;
  }
  .random-item-wrapper-img{
    width: 40%;
    height:170px;
  }
  .random-item-text p{
    font-size: 18px;
  } 
}
@media(max-width:426px){
  .random-item-text p{
    font-size: 16px;
  } 
  .more-new-img{
    height: 364px;
  }
  .random-item-wrapper{
    width: 100%;
    flex-direction: column;
  }
  .random-item-wrapper-img{
    width: 100%;
    height:250px;
  }
  .random-item-info{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    width: 100%;
  }
}
@media(max-width:376px){
  .random-item-text p{
    font-size: 14px;
  } 
  .random-item-wrapper-img{
    width: 100%;
    height:200px;
  }
}